* {
  outline: none;
}

*[class^="el-"] {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.default_d-flex {
  display: flex !important;
}

.default_col {
  flex: 1 1 50% !important;
}

.d-flex {
  display: flex;
}

.login-col {
  flex: 1 1 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.input-no-border .el-input__inner {
  border: none;
}

.search .el-input__inner {
  font-family: Rubik, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.search .el-input__inner::placeholder {
  text-transform: capitalize;
  color: #878787;
}


// ################### LOGIN ############################
.login-form__input--password {
  .el-input__icon {
    &:before {
      content: '';

      position: absolute;
      top: 4px;
      right: 5px;

      width: 32px;
      height: 30px;

      background: url(/img/visible-eye.svg);
    }
  }
}

.show-eye {
  .el-input__icon {
    &:before {
      background: url(/img/visibility.svg) !important;
    }
  }
}

.login-form__input {
  .input {

    > input {
      font-family: Roboto, sans-serif;
      border: none;
      font-size: 28px;
      line-height: 33px;
      background: none;
      border-radius: unset;
      border-bottom: 1px solid #E5E5E5;
      color: #393939;


      &:focus {
        border-bottom-color: unset;
      }
    }

  }

  &.error {
    input {
      border-bottom: 1px solid #ee2828 !important;
      color: #783636 !important;
    }
  }
}

// #############################################################

// ################## Modal board card #########################
.el-dialog {
  border-radius: 10px !important;
  margin-top: 6vh!important;
  &__headerbtn{
    z-index: 99999;
  }
  &__header {
    position: absolute;
    right: 10px;
  }

  &__body {
    padding: 24px 28px !important;
  }

  .el-input__inner {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .el-image__inner {
    vertical-align: bottom;
  }

  .el-upload-dragger {
    width: 100%;
    height: 100%;
    border: none;
  }

  .el-upload-list, .el-upload__tip {
    display: none;
  }

  .is-dragover {
    border: none !important;
    background-color: #fff !important;
  }

  .modal-btn {
    border-radius: 8px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 12px 40px;
    &:hover{
      color: white;
    }
  }
}
.el-image-viewer__wrapper{
  z-index: 1999!important;
}
.el-notification__group {
  z-index: 3000!important;
}

