.user-management {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;

    &-title{
      font-family: Rubik, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0;
      text-align: left;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: Rubik, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: #FFFFFF;

      border: none;

      width: 220px;
      height: 56px;

      background: #0AB258;
      border-radius: 4px;
      cursor: pointer;

      img {
        margin-right: 8px;
      }

      transition: .3s ease-in;
      &:hover {
        background: #20C561;
      }
    }
  }

  &__edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 42px;
    width: 42px;

    border: none;
    background: rgba(32, 197, 97, 0.75);
    border-radius: 6px;
    cursor: pointer;

    transition: .3s ease-in;
    &:hover {
      background: #20C561;
    }
  }

  &__avatar {
    width: 36px;
    height: 36px;

    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
  }

  &__table {
    thead tr th {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #3B3B3B;

      border-bottom: 1px solid #06A680 !important;
    }

    .el-table__row {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #212121;

      .el-table__cell:first-child .cell {
        display: flex;
        align-items: center;
      }
    }
  }

  &__pagination {
    margin-top: 50px;

    .el-pagination, .el-pager {
      display: flex;
    }
    .el-pager li.number {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 32px;
      width: 32px;
      min-width: 32px;

      font-family: Rubik, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      padding: 0;
    }
    .el-pager li.active {
      color: #FFFFFF;
      background: linear-gradient(180deg, #20C560 0%, #04A481 100%);
      border-radius: 100%;
      cursor: default;
    }
  }
}