@import "../variables/index";

@mixin default-h {
  font-family: $font;
  font-weight: 500;
  color: $text-title;
}

// Desktop

@mixin desktop-h {
  h1 {
    @include default-h;
    font-size: 56px;
    line-height: 110%;
  }

  h2 {
    @include default-h;
    font-size: 48px;
    line-height: 120%;
  }

  h3 {
    @include default-h;
    font-size: 32px;
    line-height: 120%;
  }

  h4 {
    @include default-h;
    font-size: 24px;
    line-height: 120%;
  }

  h5 {
    @include default-h;
    font-size: 18px;
    line-height: 120%;
  }
}

// Tablet

@mixin tablet-h {
  h1 {
    @include default-h;
    font-size: 56px;
    line-height: 110%;
  }

  h2 {
    @include default-h;
    font-size: 32px;
    line-height: 120%;
  }

  h3 {
    @include default-h;
    font-size: 24px;
    line-height: 120%;
  }

  h4 {
    @include default-h;
    font-size: 18px;
    line-height: 120%;
  }

  h5 {
    @include default-h;
    font-size: 16px;
    line-height: 120%;
  }
}

// Mobile

@mixin mobile-h {
  h1 {
    @include default-h;
    font-size: 24px;
    line-height: 120%;
  }

  h2 {
    @include default-h;
    font-size: 20px;
    line-height: 120%;
  }

  h3 {
    @include default-h;
    font-size: 18px;
    line-height: 120%;
  }

  h4 {
    @include default-h;
    font-size: 16px;
    line-height: 110%;
  }

  h5 {
    @include default-h;
    font-size: 16px;
    line-height: 120%;
  }
}


